/* this is the main body section */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.body {
    max-width: 1320px;
    margin: 0 auto;
}

/* this is the header section */

.header {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.452)), url("/images/Banner\ Image.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 50px 0 200px 0;
    height: 600px;
    width: 100%;

}

/* the banner section starts from here */

.banner {
    padding: 170px 340px;

}

.banner-title {
    color: white;
    text-align: center;
    font-size: 30px;

}

.banner-subtitle {
    color: white;
    text-align: center;
    font-size: 70px;
}

/* the deals section starts from here */

.deals-title {
    color: #ff000f;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    margin: 0 0 40px 0;

}

.deals-subtitle {
    font-size: 25px;
    text-align: center;
    color: #ff000f;
    margin: 0;

}

.deals-description {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin: 0 0 40px 0;
}

.deals img {
    height: 500px;
    display: flex;
    margin: 0 auto;
}

/* the welcome section starts from here */

.welcome {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 20), rgba(0, 0, 0, 0)), url("/images/Vectorrr.png");
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 20px;
    margin: 120px 0;

}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.welcome-text {
    text-align: left;
    padding: 100px;
}

.welcome-title {
    font-size: 65px;
    color: white;
    font-weight: bolder;
}

.welcome-description {
    font-size: 20px;
    color: white;
    opacity: 70%;
}

.join-now {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.welcome-image {
    padding: 70px;
}

/* the time and location section starts from here */
/* the coming soon section starts from here */
/* the holiday  section starts from here */
/* the gifts  section starts from here */
/* the newsletter  section starts from here */
/* the footer  section starts from here */